# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilc
*.ild
*.ils
*.map
*.pch
*.local
*.#00
*.tds

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


